<h4 class="text-center mt-2">List Of Employees</h4>
<br />

<div class="container d-flex jusitfy-content-center">
  <table class="table mt-4" style="background-color: #d7b4e0">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th>
          <a class="btn btn-outline-success" routerLink="/login">Logout</a>
        </th>
        <th>
          <a class="btn btn-outline-success" routerLink="/employee"
            >Add Employee</a
          >
        </th>
        <!-- <th><button class="btn btn-primary" (click)="get()">Fetch</button></th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of fetchedEmployees">
        <td>{{ emp.id }}</td>
        <td>{{ emp.first_name }}</td>
        <td>{{ emp.last_name }}</td>
        <td>{{ emp.email }}</td>
        <td>
          <button
            type="button"
            class="btn btn-outline-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="onEdit(emp)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            class="btn btn-outline-danger"
            (click)="DeleteEmployee(emp.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" style="color: rgb(198, 196, 81)">
          <div class="row mb-2">
            <div class="form-group">
              <label for="fname">First Name</label>
              <input
                type="text"
                id="fname"
                class="form-control"
                name="first_name"
                formControlName="firstname"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input
                type="text"
                id="lname"
                class="form-control"
                name="last_name"
                formControlName="lastname"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="text"
                id="email"
                class="form-control"
                name="email"
                formControlName="email"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          (click)="updateEmployee()"
          class="btn btn-primary"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
